/* outfit-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/outfit-v11-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* outfit-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/outfit-v11-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* bebas-neue-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/bebas-neue-v14-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --clr-primary: #c1d1f1;
  --clr-secondary: black;
  --clr-tertiary: #eee;
  --clr-pink: #e35bfa;
  --clr-dark-green: #30930d;
  --clr-light-green: #4bd669;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-primary);
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.game {
  grid-column: 2/3;
  padding: 5rem 0 0 0;
}

.play-area {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 100%;
}

.board {
  background-color: var(--clr-tertiary);
  aspect-ratio: 1;
  width: 500px;
  border: 3px solid black;
  border-radius: 8px;
  position: relative;
  box-shadow: 8px 8px 0 black;
}

.play-area div {
  border: 2px solid black;
  font-family: Outfit;
  font-weight: 700;
  font-size: 1.2rem;
  /*border: 1px solid black;*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  aspect-ratio: 1;
}

.board .menu {
  position: absolute;
  width: 100%;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  z-index: 2;
}

.board .menu h1 {
  font-family: "Bebas Neue";
  font-size: 3rem;
}
.board .menu button {
  font-family: "Outfit";
  font-size: 1.5rem;
  padding: 0.2rem 1.5rem;
  background-color: var(--clr-pink);
  border: 3px solid black;
  border-radius: 4px;
  box-shadow: 4px 4px 0px black;

  &:active {
    transform: translate(4px, 4px);
    box-shadow: none;
  }
}
.board .hidden {
  display: none;
}

.play-area.win {
  opacity: 0.1;
}

.selected {
  background-color: #bbb;
}

.found {
  background-color: var(--clr-light-green);
}

.list-words {
  width: 90%;
  margin: 2rem auto;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  font-family: Outfit;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.found-list {
  text-decoration: line-through;
  color: var(--clr-dark-green);
}
